/* VARIABLES & CONFIG DE BASE (100% NOIR & BLANC) */
$bg-color: #000000; /* Noir absolu */
$text-color: #ffffff; /* Blanc pur */
$border-color: #ffffff; /* Toutes les bordures en blanc */
$font-stack: "Inter", sans-serif;
$player-padding-bottom: 5rem; /* Réduit pour coller proprement au player fixe */

///CURSOR
/* Le curseur custom */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px; // Un poil plus petit pour faire un "point" suiveur stylé
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;

  // On retire la transition sur "top" et "left" pour laisser le JS gérer l'inertie.
  // On garde une transition uniquement sur le "scale" pour le grossissement.
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  &.is-hovered {
    transform: translate3d(-50%, -50%, 0) scale(2.2);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-stack;
  padding-bottom: $player-padding-bottom;
  -webkit-font-smoothing: antialiased;
}
